.createActivity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}
.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    align-self: flex-start;
}

.btnBack{
    border: none;
        color: #090909;
        padding: 0.7em 1.7em;
        margin: 30px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        cursor: pointer;
}

.btnBack:hover{
    box-shadow: 6px 6px 12px #c5c5c5,
                    -6px -6px 12px #ffffff;
    border: 1px solid white;
}

.formContainer{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}


.form label{
    color: #e8e8e8;
    text-transform: uppercase;
    font-size: 18px;
}

.form input, .form select{
    border: none;
        color: #090909;
        padding: 0.7em 1.7em;
        margin: 30px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        cursor: pointer;
}
.form input{
    display: flex;
    flex-direction: row;
}

.form input:hover, .form select:hover{
    box-shadow: 6px 6px 12px #c5c5c5,
                    -6px -6px 12px #ffffff;
    border: 1px solid white;
}

.countriesSelected{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.country{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.country h4{
    color: #e8e8e8;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px;
}

.country button {
    height: 35px;
    width: 35px;
    border: none;
        color: #090909;
        padding: 05px;
        margin: 15px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        cursor: pointer;
}

.country button:hover{
    box-shadow: 6px 6px 12px #c5c5c5,
                    -6px -6px 12px #ffffff;
    border: 1px solid white;
}

.activityName, .difficulty, .duration, .season, .countries{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit:hover{
    border: 1px solid #F8333C;
    box-shadow: 6px 6px 12px #F8333C,
    -6px -6px 12px #F8333C;
}