body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        /* background-image: url("../istockphoto-944453634-170667a.jpg"); */
        /* background-repeat: no-repeat;
        background-size: cover; */
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }