.landingPage{
    background-image: url("../istockphoto-944453634-170667a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}